html, body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: #faf5f9;
  }

header,
footer {
    margin: 1rem;
    padding: 1rem;
    text-align:center;
    list-style-type: none;
}

main {
    background-color: rgb(250, 250, 250);
    padding: 0.5rem 1.5rem;
    margin: 3rem;
    padding: 3%;
    text-align: center;
    
}

