html, body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: #faf5f9;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header,
footer {
    margin: 1rem;
    padding: 1rem;
    text-align:center;
}