body {
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
}

h1 {
    color: turquoise;
    font-size: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 9px;
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.right {
    text-align: right;

}

.left {
    text-align: left;
    
    margin-top: 40px;
}